target/classes/cache.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="cacheFlow">
        <http:listener config-ref="temp" path="/t" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	type: inboundProperties."http.query.params".type,
	code: inboundProperties."http.query.params".code
}]]></dw:set-payload>
            <dw:set-variable variableName="x"><![CDATA[%dw 1.0
%output application/json
---
{
	type: inboundProperties."http.query.params".type,
	code: inboundProperties."http.query.params".code
}]]></dw:set-variable>
        </dw:transform-message>
        <set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
        <ee:cache doc:name="Cache">
            <logger message="#[&quot;Hello&quot;]" level="INFO" doc:name="Logger"/>
            <set-payload value="#[flowVars.x]" doc:name="Set Payload"/>
            <vm:outbound-endpoint exchange-pattern="request-response" path="ref.lookup" doc:name="VM"/>
            <object-to-string-transformer doc:name="Object to String"/>
        </ee:cache>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload.desc]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="cacheFlow1">
        <http:listener config-ref="temp" path="/x" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
	[
		{
			x:1,
			y:2
		},
		{
			x:11,
			y:22
		},
		{
			x:111,
			y:222
		}
	]
]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message metadata:id="d4b85beb-373a-4da7-9ead-ee8cab5228c6" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	z: payload map ((payload01 , indexOfPayload01) -> lookup("Called",{x:payload01.x,y:payload01.y}) )
}	

]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Called">
        <set-payload value="#[payload.x+payload.y]" doc:name="Set Payload"/>
    </flow>
</mule>
